body {
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_foodlogo.png");
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin: 0 auto;
}

nav {
    text-align: center;
    width: 180px;
}

nav img {
    margin: 0 auto;
    display: block;
}

nav span {
    display: block;
    font-size: 16px;
    font-weight: 100;
    margin: 10px 0;
    letter-spacing: 2px;
}

nav span a {
    color: #666666;
}

a {
    text-decoration: none;
}


/***********************************/

.content {
    width: 100%;
    height: 500px;
    margin: 10px auto;
}

.header {
    height: 320px;
    background-position: center;
    background-size: cover;
    background-image: url("https://s3.amazonaws.com/codecademy-content/courses/web-101/unit-6/htmlcss1-img_burgerphoto.jpeg");
}

.header h1 {
    color: white;
    font-size: 40px;
    font-weight: 300;
    line-height: 40px;
    background-color: #05a8aa;
    padding: 15px;
    width: 50%;
    text-align: center;
    margin: 0 auto;
    font-family: 'Oswald', sans-serif;
}


/***********************************/

.body {
    width: 90%;
    overflow: scroll;
    margin: 0 auto;
}

.body p {
    color: #333333;
    font-weight: 100;
    line-height: 34px;
    margin-top: 18px;
}

.button {
    border: 1px solid blue;
    border-radius: 4px;
    padding: 20px;
    margin: 40px auto;
    display: block;
    color: #05a8aa;
    font-weight: 700;
    width: 200px;
}

.button:hover {
    color: white;
    background-color: #05a8aa;
    border: 1px solid #05a8aa;
}

.nutrition {
    display: block;
    padding: 40px;
}

.nutrition li {
    display: inline-block;
    margin-bottom: 3px;
    padding: 10px 20px;
    width: 200px;
    background-color: #05a8aa;
    color: white;
    letter-spacing: 2px;
    list-style: none;
}

.category {
    display: block;
    font-weight: 100;
}

.value {
    display: block;
    font-weight: 700;
    font-size: 26px;
}